<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="clock">
                <div class="date">{{ date }}</div>
                <div class="time">{{ time }}</div>
              </div>  
        </div>
        <div class="col-md-12 text-center"><h1 class="title">POS Blagajna</h1></div>
    </div>
    <hr>
    <div class="col-ml-12">
        <button type="button" class="btn btn-default custom-link col-12 text-start" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </button>
    </div>
    <div class="col-ml-12">
        <button type="button" class="btn btn-default custom-link col-12 text-start" routerLink="/products" routerLinkActive="active">
            <i class="fa fa-list" aria-hidden="true"></i>
            Products
        </button>
    </div>
    <div class="col-ml-12">
        <button type="button" class="btn btn-default custom-link col-12 text-start" routerLink="/customers" routerLinkActive="active">
            <i class="fa fa-users" aria-hidden="true"></i>
            Customers
        </button>
    </div>
    <div class="col-ml-12">
        <button type="button" class="btn btn-default custom-link col-12 text-start" routerLink="/pos" routerLinkActive="active">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
            POS
        </button>
    </div>
   
    
    
</div>

