.side-nav
{
    background-color: rgba(128, 128, 128, 0.186);
}

.custom-link
{
    font-size: 20px;
    margin-bottom: 10px;   
    background-color: rgba(128, 128, 128, 0.248);
}

.title
{
    font-size: 25px;
    font-weight: bold;
}

.clock {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .time {
    font-size: 22px;
    font-weight: bold;
  }
  
  .date {
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
  }
  