<div class="row" *ngIf="receipt">
  <div class="col-md-3" style="background-color:rgba(0, 90, 208, 0.844); ;"></div>
  <div class="col-md-5 order-section" style="height: 100vh;">
    <div class="row">
      <div class="col-md-4 text-start">
        <div class="row">
          <div class="col-md-12">
            <label class="form-label order-number" style="margin-top: 10px;">Order: {{receipt.number}}</label>
          </div>
          <div class="col-md-12" style="margin-top: 25px;">
            <div class="row">
              <div class="col-md-4">
                <label class="form-label employee-label">Employee:</label>
              </div>
              <div class="col-md-8">
                <label class="form-label employee-name">{{receipt.employee.userName}}</label>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <div class="col-md-8" style="height: 110px;">
        <div style="font-size: 10px;">
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3"><label class="form-label customer-label">Customer name:</label></div>
            <div class="col-md-9"><div class="well well-sm card card-block text-center">{{receipt.customer.name}}</div></div>
          </div>
          <div class="row">
            <div class="col-md-3"><label class="form-label customer-label">Address:</label></div>
            <div class="col-md-9"><div class="well well-sm card card-block text-center">{{receipt.customer.address}}</div></div>
          </div>
          <div class="row">
            <div class="col-md-3"><label class="form-label customer-label">Town:</label></div>
            <div class="col-md-9"><div class="well well-sm card card-block text-center">{{receipt.customer.town}}</div></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="scrollable-container-receipt-items">
          <table class="table table-hover receipt-item-table">
              <thead>
                <tr>
                  <th class="order-table-background">Product Name</th>
                  <th class="order-table-background">Quantity</th>
                  <th class="order-table-background">Price</th>
                  <th class="order-table-background">Discount%</th>
                  <th class="order-table-background">Discount Ammount</th>
                  <th class="order-table-background">Total Price</th>
                </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let receiptItem of receiptItems">
                  <tr>
                      <td class="table-data order-table-background">{{receiptItem.product.name}}</td>
                      <td class="table-data order-table-background">{{receiptItem.quantity}}</td>
                      <td class="table-data order-table-background">{{receiptItem.price}}</td>
                      <td class="table-data order-table-background">{{receiptItem.discountPercentage}}</td>
                      <td class="table-data order-table-background">{{receiptItem.discountAmmount}}</td>
                      <td class="table-data order-table-background">{{receiptItem.totalPrice}}</td>
                    </tr>
              </ng-container>             
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="row" style="margin-top: 80px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-7">
            <label class="form-label order-totals">Total Discounts: </label>
          </div>
          <div class="col-md-5">
            <label class="form-label order-totals" style="color: black;">{{receiptTotals.TotalDiscounts}} $</label>
          </div>
        </div>       
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <label class="form-label order-totals">Tax: </label>
          </div>
          <div class="col-md-7">
            <label class="form-label order-totals" style="color: black;">{{receiptTotals.Tax}} $</label>
          </div>
        </div>       
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-7">
            <label class="form-label order-totals">Sub Total: </label>
          </div>
          <div class="col-md-5">
            <label class="form-label order-totals" style="color: black;">{{receiptTotals.SubTotal}} $</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <label class="form-label order-totals" style="font-size:22px ;">Total: </label>
          </div>
          <div class="col-md-7">
            <label class="form-label total-price" >{{receiptTotals.Total}} $</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="background-color:rgba(0, 90, 208, 0.844); ;"></div>
</div>