<div class="row" style="margin-top: 10px;">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary col-3 add-product-button" routerLink="/products"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button>
    </div>
</div>
<div style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center">
            <div class="form-group">
                <label class="form-label custom-label" for="typeNumber">Code</label>
                <input type="number" id="typeNumber" name="StorageQuantity" class="form-control" [(ngModel)]="newProduct.Code">
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="form-group">
                <label class="form-label custom-label">Name</label>
                <input type="text" class="form-control" id="usr" name="Name" [(ngModel)]="newProduct.Name">
              </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="form-group">
                <label class="form-label custom-label">Unit of Measure</label>
                <input type="text" class="form-control" id="usr" name="UnitOfMeasure" [(ngModel)]="newProduct.UnitOfMeasure">
              </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="form-group">
                <label class="form-label custom-label" for="typeNumber">Price</label>
                <input type="number" id="typeNumber" name="Price" class="form-control" [(ngModel)]="newProduct.Price">
            </div> 
        </div>
        <div class="col-md-2 text-center">
            <div class="form-group">
                <label class="form-label custom-label" for="typeNumber">Storage Quantity</label>
                <input type="number" id="typeNumber" name="StorageQuantity" class="form-control" [(ngModel)]="newProduct.StorageQuantity">
            </div> 
        </div>
        <div class="col-md-12">
            <table class="table table-hover" style="margin-top: 50px;">
                <thead>
                  <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Unit of Measure</th>
                    <th>Price</th>
                    <th>Storage Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="newProduct">
                    <td>{{newProduct.Code}}</td>
                    <td>{{newProduct.Name}}</td>
                    <td>{{newProduct.UnitOfMeasure}}</td>
                    <td>{{newProduct.Price}}</td>
                    <td>{{newProduct.StorageQuantity}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-11 text-center" style="margin-top: 80px;">
            <button type="button" class="btn btn-primary col-3 add-product-button" (click)="CreateProduct()">Complete</button>
        </div>
        
    </div> 
</div>