<div class="row" style="margin-top: 50px;">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="form-outline">
      <label class="form-label" for="typeNumber">Search by product code</label>
      <input type="number" id="typeNumber" class="form-control" />
    </div>   
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="form-label">Search by product name</label>
      <input type="text" class="form-control" id="usr">
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 100px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Unit of Measure</th>
          <th>Price</th>
          <th>Storage Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.unitOfMeasure}}</td>
          <td>{{product.price}}</td>
          <td>{{product.storageQuantity}}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>
