.custom-label
{
    font-size: 15px;
    font-weight: bold;
}

.add-customer-button
{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.scrollable-container {
    max-height: 500px; /* Adjust the desired height */
    overflow-y: auto;
  }
  