<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group col-8" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle" [class.active]="displayHistoryForDay" (click)="FilterHistory('day')"
                        aria-controls="dropdown-animated">
                  Day <span class="caret"></span>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                    <div class="row">
                        <div class="pr-3 pb-3 pe-3 w-auto d-flex justify-content-start">
                          <bs-datepicker-inline 
                            class="form-control"
                            [bsValue]="bsInlineValue"
                            [bsConfig]="bsConfig"
                            (bsValueChange)="onDateChange($event)"
                            class="custom-datepicker">
                          </bs-datepicker-inline>
                        </div>
                      </div>
                </ul>
              </div>
        </div>
    
        <div class="col-md-4">
            <div class="btn-group col-8" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle" [class.active]="displayHistoryForMonth" (click)="FilterHistory('month')"
                        aria-controls="dropdown-animated">
                  Month <span class="caret"></span>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                    <div class="row">
                        <div class="pr-3 pb-3 pe-3 w-auto d-flex justify-content-start">
                          <bs-datepicker-inline 
                            class="form-control"
                            [bsValue]="bsInlineValue"
                            [bsConfig]="bsConfig"
                            [bsConfig]="{ minMode: 'month' }"
                            (bsValueChange)="onDateChange($event)"
                            class="custom-datepicker">
                          </bs-datepicker-inline>
                        </div>
                      </div>
                </ul>
              </div>
        </div>
    
        <div class="col-md-4">
            <div class="btn-group col-8" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle" [class.active]="displayHistoryForYear" (click)="FilterHistory('year')"
                        aria-controls="dropdown-animated">
                  Year <span class="caret"></span>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                    <div class="row">
                        <div class="pr-3 pb-3 pe-3 w-auto d-flex justify-content-start">
                          <bs-datepicker-inline 
                            class="form-control"
                            [bsValue]="bsInlineValue"
                            [bsConfig]="bsConfig"
                            [bsConfig]="{ minMode: 'year' }"
                            (bsValueChange)="onDateChange($event)"
                            class="custom-datepicker">
                          </bs-datepicker-inline>
                        </div>
                      </div>
                </ul>
              </div>
        </div>
    </div>
    </div>
    

  




<div class="container" style="margin-top: 50px;">
    <div class="row" *ngIf="receiptHistory">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="container" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-md-5">
                        <hr>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h1 class="history-totals">Total Net Sales: {{receiptHistory.totalNetSales}} $</h1>
                            </div>
                            <div class="col-md-6 text-center">
                                <h1 class="history-totals">Total Transactions: {{receiptHistory.totalTransactions}}</h1>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-start">     
                                <h2 class="history-sub-totals">Cash sales:</h2>                         
                            </div>
                            <div class="col-md-4 text-end">     
                                <h2 class="history-sub-totals ">{{receiptHistory.cashSales}} $</h2>                         
                            </div>
                            <div class="col-md-3"></div>              
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-start">     
                                <h2 class="history-sub-totals">Card sales:</h2>                         
                            </div>
                            <div class="col-md-4 text-end">     
                                <h2 class="history-sub-totals ">{{receiptHistory.cardSales}} $</h2>                         
                            </div>
                            <div class="col-md-3"></div>              
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-start">     
                                <h2 class="history-sub-totals">Total discounts:</h2>                         
                            </div>
                            <div class="col-md-4 text-end">     
                                <h2 class="history-sub-totals ">{{receiptHistory.totalDiscounts}} $</h2>                         
                            </div>
                            <div class="col-md-3"></div>              
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-start">     
                                <h2 class="history-sub-totals">Total sales:</h2>                         
                            </div>
                            <div class="col-md-4 text-end">     
                                <h2 class="history-sub-totals ">{{receiptHistory.totalSales}} $</h2>                         
                            </div>
                            <div class="col-md-3"></div>              
                        </div>
                    </div>
                    <div class="col-md-6">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="history-totals text-center">Receipts</h1>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="scrollable-container">
                            <div class="col-md-12">
                                <ng-container *ngFor="let receipt of receipts">
                                    <div class="well well-sm card card-block text-center receipt-cards" style="margin-bottom: 3px;">
                                        <div class="row" style="margin-top: 5px;">
                                            <div class="col-md-2">{{CalculateReceiptDate(receipt)}}</div>
                                            <div class="col-md-4" *ngIf="receipt.customer == null"></div>
                                            <ng-container *ngIf="receipt.customer != null">
                                                <div class="col-md-4 text-start" *ngIf="receipt.customer.name != null && receipt.customer.name != '-'">{{receipt.customer.name}}</div>           
                                                <div class="col-md-4 text-start" *ngIf="receipt.customer.name != null && receipt.customer.name == '-'">Walk in</div>
                                            </ng-container>    
                                            <div class="col-md-3"></div>      
                                            <div class="col-md-3">{{CalculateReceiptsTotalPrice(receipt.receiptItems)}} $</div>
                                        </div>
                                        <div class="row" style="margin-top: 12px; margin-bottom: 5px;">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-3 text-start">{{receipt.number}}</div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-6 ">{{receipt.note}}</div>
                                            
                                            
                                           
                                            
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>