.options-nav
{
    background-color: rgba(0, 0, 0, 0.586);
    height: 100vh;
}


.custom-link
{
    font-size: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-weight: bold;
}

.option-titles
{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.history-totals
{
    font-size: 17px;
}

.history-sub-totals
{
    font-size: 15px;
}

.receipt-cards
{
    font-size: 15px;
}

.scrollable-container {
    max-height: 450px; /* Adjust the desired height */
    overflow-y: auto;
  }