.custom-label
{
    font-size: 10px;
    font-weight: bold;
}
.receipt-number
{
  font-size: 12px;
  font-weight: bold;
}

.receipt-totals
{
  font-size: 17px;
  font-weight: bold;
}

.total-price
{
  font-size: 22px;
  color: green;
}

.delete-button
{
  background-color: red;
  border-radius: 10px; /* Adjust the border radius as desired */
  font-size: 10px;
  color: white;
  font-weight: bold;
  width: 100%;
}

.delete-table-row
{
  width: 5%;
}

  
  .scrollable-container {
    max-height: 100px; /* Adjust the desired height */
    overflow-y: auto;
  }
  .scrollable-container-receipt-items {
    height: 350px; /* Adjust the desired height */
    overflow-y: auto;
  }
.smaller-input
{
  width: 50%;
  font-size: 10px;
}

.smaller-table-data
{
  width: 20%;
}

.receipt-item-table
{
  font-size: 10px;
}

.products-table
{
  font-size: 10px;
}

.table-titles
{
  color: rgb(218, 234, 0);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.table-data
{
  font-weight: bold;
}

